In [1]:
import numpy as np
import pandas as pd
import statsmodels.api as sm
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

#Apply a fix to the statsmodel library
from scipy import stats
stats.chisqprob = lambda chisq, df:stats.chi2.sf(chisq, df)

### Load the data

In [2]:
raw_data = pd.read_csv('10.2 2.02. Binary predictors.csv')
raw_data

      SAT Admitted  Gender
0    1363       No    Male
1    1792      Yes  Female
2    1954      Yes  Female
3    1653       No    Male
4    1593       No    Male
..    ...      ...     ...
163  1722      Yes  Female
164  1750      Yes    Male
165  1555       No    Male
166  1524       No    Male
167  1461       No    Male

[168 rows x 3 columns]

In [4]:
data = raw_data.copy()
data['Admitted'] = data['Admitted'].map({'Yes':1, 'No':0})
data['Gender'] = data['Gender'].map({'Male':1, 'Female':0})
data

      SAT  Admitted  Gender
0    1363         0       1
1    1792         1       0
2    1954         1       0
3    1653         0       1
4    1593         0       1
..    ...       ...     ...
163  1722         1       0
164  1750         1       1
165  1555         0       1
166  1524         0       1
167  1461         0       1

[168 rows x 3 columns]

In [5]:
y = data['Admitted']
x1 = data['Gender']

In [6]:
x = sm.add_constant(x1)
reg_log = sm.Logit(y,x)
results_log = reg_log.fit()
results_log.summary()

Optimization terminated successfully.
         Current function value: 0.572260
         Iterations 5

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:               Admitted   No. Observations:                  168
Model:                          Logit   Df Residuals:                      166
Method:                           MLE   Df Model:                            1
Date:                Tue, 03 Aug 2021   Pseudo R-squ.:                  0.1659
Time:                        22:49:45   Log-Likelihood:                -96.140
converged:                       True   LL-Null:                       -115.26
Covariance Type:            nonrobust   LLR p-value:                 6.283e-10
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const          1.4351      0.287      4.995      0.000       0.872       1.998
Gender        -2.0786      0.363     -5.727      0.000      -2.790      -1.367
==============================================================================
"""

log(odds) = 1.43 + -2.08*Gender


      log(odds2) = 1.43 + -2.08 * Gender2
    log(odds1) = 1.43 + -2.08 * Gender1
 
 
log(odds2/odds1) = -2.08*(Gender2 - Gender1)

However, Gender receives only 2 values (1 and 0) -> Gender2: Male = 1 & Gender1: Female = 0 -> Diff(Gender) = 1 unit

odds(male)/odds(female) = e^(-2.0786) = 0.125 => odds(male) = 0.125* odds(female) || odds(female) = 7.99* odds(male)

Interpretation: Odds of female get admitted is 7.99 higher than male

In [7]:
np.exp(-2.0786)

0.12510523698442316

In [8]:
1/np.exp(-2.0786)

7.993270498536443

### Add both SAT and Gender to be independent variables

In [9]:
x2 = data[['SAT','Gender']]
y = data['Admitted']

In [10]:
x = sm.add_constant(x2)
reg_log = sm.Logit(y,x)
results_log = reg_log.fit()
results_log.summary()

Optimization terminated successfully.
         Current function value: 0.120117
         Iterations 10

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:               Admitted   No. Observations:                  168
Model:                          Logit   Df Residuals:                      165
Method:                           MLE   Df Model:                            2
Date:                Tue, 03 Aug 2021   Pseudo R-squ.:                  0.8249
Time:                        23:05:48   Log-Likelihood:                -20.180
converged:                       True   LL-Null:                       -115.26
Covariance Type:            nonrobust   LLR p-value:                 5.118e-42
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const        -66.4040     16.321     -4.068      0.000     -98.394     -34.414
SAT            0.0406      0.010      4.129      0.000       0.021       0.060
Gender        -1.9449      0.846     -2.299      0.022      -3.603      -0.287
==============================================================================

Possibly complete quasi-separation: A fraction 0.27 of observations can be
perfectly predicted. This might indicate that there is complete
quasi-separation. In this case some parameters will not be identified.
"""

What we get is a regression with <b>a much higher log-likelihood</b> (-20.18 >> -9614)

Explain: SAT is an outstanding predictor, however, we can see that some numbers of 'Gender' have changed

In [11]:
# The new coefficient of gender is -1.94 and its exponential is:
np.exp(-1.9449)

0.14300152277538664

In [12]:
1/np.exp(-1.9449)

6.99293252681446

Interpretation of the change: Given <b>the same SAT score </b>, a female has <b>7 times higher</b> odds to get admitted in compare with male

# Accuracy

In [13]:
np.set_printoptions(formatter={'float':lambda x: "{0:0.2f}".format(x)})
results_log.predict()

array([0.00, 1.00, 1.00, 0.23, 0.02, 0.99, 1.00, 1.00, 1.00, 0.01, 1.00,
       1.00, 0.76, 0.00, 0.60, 1.00, 0.11, 0.12, 0.51, 1.00, 1.00, 1.00,
       0.00, 0.01, 0.97, 1.00, 0.48, 0.99, 1.00, 0.99, 0.00, 0.83, 0.25,
       1.00, 1.00, 1.00, 0.31, 1.00, 0.23, 0.00, 0.02, 0.45, 1.00, 0.00,
       0.99, 0.00, 0.99, 0.00, 0.00, 0.01, 0.00, 1.00, 0.92, 0.02, 1.00,
       0.00, 0.37, 0.98, 0.12, 1.00, 0.00, 0.78, 1.00, 1.00, 0.98, 0.00,
       0.00, 0.00, 1.00, 0.00, 0.78, 0.12, 0.00, 0.99, 1.00, 1.00, 0.00,
       0.30, 1.00, 1.00, 0.00, 1.00, 1.00, 0.85, 1.00, 1.00, 0.00, 1.00,
       1.00, 0.89, 0.83, 0.00, 0.98, 0.97, 0.00, 1.00, 1.00, 0.03, 0.99,
       0.96, 1.00, 0.00, 1.00, 0.01, 0.01, 1.00, 1.00, 1.00, 0.00, 0.00,
       0.02, 0.33, 0.00, 1.00, 0.09, 0.00, 0.97, 0.00, 0.75, 1.00, 1.00,
       0.01, 0.01, 0.00, 1.00, 0.00, 0.99, 0.57, 0.54, 0.87, 0.83, 0.00,
       1.00, 0.00, 0.00, 0.00, 1.00, 0.04, 0.00, 0.01, 1.00, 0.99, 0.52,
       1.00, 1.00, 0.05, 0.00, 0.00, 0.00, 0.68, 1.00, 1.00, 1.00, 1.00,
       1.00, 0.00, 1.00, 1.00, 0.04, 1.00, 0.02, 1.00, 0.99, 0.97, 0.94,
       0.01, 0.00, 0.00])

## Predicted values by the model

In [24]:
# Or you can use this way to round our list to 2 decimal float
yhat = results_log.predict()

myList = (np.around(np.array(yhat),2))
myList

array([0.00, 1.00, 1.00, 0.23, 0.02, 0.99, 1.00, 1.00, 1.00, 0.01, 1.00,
       1.00, 0.76, 0.00, 0.60, 1.00, 0.11, 0.12, 0.51, 1.00, 1.00, 1.00,
       0.00, 0.01, 0.97, 1.00, 0.48, 0.99, 1.00, 0.99, 0.00, 0.83, 0.25,
       1.00, 1.00, 1.00, 0.31, 1.00, 0.23, 0.00, 0.02, 0.45, 1.00, 0.00,
       0.99, 0.00, 0.99, 0.00, 0.00, 0.01, 0.00, 1.00, 0.92, 0.02, 1.00,
       0.00, 0.37, 0.98, 0.12, 1.00, 0.00, 0.78, 1.00, 1.00, 0.98, 0.00,
       0.00, 0.00, 1.00, 0.00, 0.78, 0.12, 0.00, 0.99, 1.00, 1.00, 0.00,
       0.30, 1.00, 1.00, 0.00, 1.00, 1.00, 0.85, 1.00, 1.00, 0.00, 1.00,
       1.00, 0.89, 0.83, 0.00, 0.98, 0.97, 0.00, 1.00, 1.00, 0.03, 0.99,
       0.96, 1.00, 0.00, 1.00, 0.01, 0.01, 1.00, 1.00, 1.00, 0.00, 0.00,
       0.02, 0.33, 0.00, 1.00, 0.09, 0.00, 0.97, 0.00, 0.75, 1.00, 1.00,
       0.01, 0.01, 0.00, 1.00, 0.00, 0.99, 0.57, 0.54, 0.87, 0.83, 0.00,
       1.00, 0.00, 0.00, 0.00, 1.00, 0.04, 0.00, 0.01, 1.00, 0.99, 0.52,
       1.00, 1.00, 0.05, 0.00, 0.00, 0.00, 0.68, 1.00, 1.00, 1.00, 1.00,
       1.00, 0.00, 1.00, 1.00, 0.04, 1.00, 0.02, 1.00, 0.99, 0.97, 0.94,
       0.01, 0.00, 0.00])

### These are the values of the probability of being admitted
#### Values that are below 0.5 -> less than 50% chance of admission

## Actual Values

In [25]:
np.array(data['Admitted'])

array([0, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1,
       0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0,
       1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0,
       0, 0, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1,
       1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0,
       0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0,
       1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1,
       1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0], dtype=int64)

## Compare (Actual Values vs Predicted values) by Confusion Matrix

### First way

In [26]:
results_log.pred_table()

array([[69.00, 5.00],
       [4.00, 90.00]])

In [30]:
confusion_matrix1 = pd.DataFrame(results_log.pred_table())
confusion_matrix1.columns = ['Predicted 0', 'Predicted 1']
confusion_matrix1 = confusion_matrix1.rename(index={0:'Actual 0', 1:'Actual 1'})
confusion_matrix1

          Predicted 0  Predicted 1
Actual 0         69.0          5.0
Actual 1          4.0         90.0

### Second way

In [38]:
from sklearn.metrics import (confusion_matrix, 
                           accuracy_score)
#prepare same type variable
y_actual_values =  np.array(data['Admitted'])
y_predicted_values = list(map(round, results_log.predict()))

# confusion matrix
cm = confusion_matrix(y_predicted_values, y_actual_values) 

confusion_matrix2 = pd.DataFrame(cm)
confusion_matrix2.columns = ['Predicted 0', 'Predicted 1']
confusion_matrix2 = confusion_matrix1.rename(index={0:'Actual 0', 1:'Actual 1'})
confusion_matrix2

          Predicted 0  Predicted 1
Actual 0         69.0          5.0
Actual 1          4.0         90.0

### It's called 'confusion matrix', cuz it shows how confused our model is

For 69 observations, the model predicted 0 and the true value is also 0
For 90 observations, the model predicted 1 and the true value is also 1

For 4 cases, the model predicted 0, while the actual value is 1
For 5 cases, the model predicted 1, while the actual value is 0

#### => Overall, the model made an accurate prediction in 159 out of 180 cases: 159/180 = 0.94 = 94.6% accuracy

## Calculate Accuracy

In [39]:
# first way
# accuracy score of the model
print('Test accuracy = ', accuracy_score(y_predicted_values, y_actual_values))

Test accuracy =  0.9464285714285714

In [42]:
# second way
cm = np.array(confusion_matrix1)
accuracy_cal = (cm[0,0]+cm[1,1])/cm.sum()
accuracy_cal

0.9464285714285714

## Testing the model

In [45]:
test = pd.read_csv('15.3 2.03. Test dataset.csv')
test['Admitted'] = test['Admitted'].map({'Yes':1,'No':0})
test['Gender'] = test['Gender'].map({'Male':1, 'Female': 0})
test

     SAT  Admitted  Gender
0   1323         0       1
1   1725         1       0
2   1762         1       0
3   1777         1       1
4   1665         0       1
5   1556         1       0
6   1731         1       0
7   1809         1       0
8   1930         1       0
9   1708         1       1
10  1970         1       0
11  2039         1       0
12  1681         1       0
13  1444         0       1
14  1726         0       1
15  1876         1       0
16  1485         0       1
17  1500         0       0
18  1900         1       1

Steps to perform testing our model

1. Compare those with the actual outcome

2. Calculate the accuracy

3. Create a confusion matrix

In [46]:
x

     const   SAT  Gender
0      1.0  1363       1
1      1.0  1792       0
2      1.0  1954       0
3      1.0  1653       1
4      1.0  1593       1
..     ...   ...     ...
163    1.0  1722       0
164    1.0  1750       1
165    1.0  1555       1
166    1.0  1524       1
167    1.0  1461       1

[168 rows x 3 columns]

In [48]:
# Normally you would have to reorder the columns to match these objects
# test_data = test_data[x.columns.values]
test_actual = test['Admitted']
test_data = test.drop(['Admitted'],axis=1)
test_data = sm.add_constant(test_data)
test_data

    const   SAT  Gender
0     1.0  1323       1
1     1.0  1725       0
2     1.0  1762       0
3     1.0  1777       1
4     1.0  1665       1
5     1.0  1556       0
6     1.0  1731       0
7     1.0  1809       0
8     1.0  1930       0
9     1.0  1708       1
10    1.0  1970       0
11    1.0  2039       0
12    1.0  1681       0
13    1.0  1444       1
14    1.0  1726       1
15    1.0  1876       0
16    1.0  1485       1
17    1.0  1500       0
18    1.0  1900       1

In [49]:
x.columns.values

array(['const', 'SAT', 'Gender'], dtype=object)

## Step 2&3: Create confusion matrix & calculate Accuracy

In [54]:
def confusion_matrix_made(data, actual_values, model):
    
    prediction_values = model.predict(data)
    bins = np.array([0, 0.5, 1])
    confu_matr = np.histogram2d(actual_values, prediction_values, bins)[0]
    accuracy = (confu_matr[0,0]+confu_matr[1,1])/confu_matr.sum()
    return confu_matr, accuracy

In [55]:
cm = confusion_matrix_made(test_data, test_actual, results_log)
cm

(array([[5.00, 1.00],
        [1.00, 12.00]]),
 0.8947368421052632)

In [63]:
from sklearn.metrics import (confusion_matrix, 
                           accuracy_score)
y_test_pred_val = list(map(round, results_log.predict(test_data)))

cm2 = confusion_matrix(y_test_pred_val,test_actual)
print(cm2)
# y_test_pred_val
print(accuracy_score(test_actual, y_test_pred_val))

[[ 5  1]
 [ 1 12]]
0.8947368421052632